@import 'common';

$navbar-height: 80px;


//@font-face {
//  font-family: 'permanent_markerregular';
//  src: url('<%= font_url('PermanentMarker-webfont.eot') %>');
//  src: url('<%= font_url('PermanentMarker-webfont.eot?#iefix') %>') format('embedded-opentype'),
//       url('<%= font_url('PermanentMarker-webfont.woff') %>') format('woff'),
//       url('<%= font_url('PermanentMarker-webfont.ttf') %>') format('truetype'),
//       url('<%= font_url('PermanentMarker-webfont.svg#permanent_markerregular') %>') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}
//@font-face {
//    font-family: 'playtimewithhottoddiesRg';
//    src: url('<%= font_url('playtime-webfont.eot') %>');
//    src: url('<%= font_url('playtime-webfont.eot?#iefix') %>') format('embedded-opentype'),
//         url('<%= font_url('playtime-webfont.woff') %>') format('woff'),
//         url('<%= font_url('playtime-webfont.ttf') %>') format('truetype'),
//         url('<%= font_url('playtime-webfont.svg#playtimewithhottoddies3dRg') %>') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}


body {
    padding-top: 100px;
    background-color: $back-color;
}

.navbar-cell {
    background-color: $back-color;
    border-bottom: 1px solid lighten($faded-color, 30%);
}

#brand {
    color: $faded-color;
    font-size: $navbar-height/3;
    line-height: $navbar-height/3;
    height: $navbar-height;
    padding: $navbar-height/3 0;

    font-family: 'permanent_markerregular';
}

.headline {
    text-align: center;
    padding: 0;
}
.headline>h1 {
    font-size: 4em;
    font-family: 'playtimewithhottoddiesRg';
    margin: 1.2em 0 1.2em 0;
}
